:root {
  --lh-pers: 1.8rem;
  --btn-width: 10rem;
}

.lh-pers {
  line-height: var(--lh-pers);
  }

/* button */
.btn-width {
  max-width: var(--btn-width);
}

  /* h2 h3  */
.title-color {
  color: #212529;
}

/* max width */
.max-w60 {
  max-width: 60%;
}

/* header */
#header {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  transform: translateZ(0px); 
}

#header .header-top img {
  width: 5%;
  max-width: 140px;
}

/* jumbotron */
#jumbotron {
  height: 70vh;
  background-image: url("../img/jumbo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  margin-top: 108px;
} 

/* console-ps5  */
.img-dim img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* Takes two */
#takes-two {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
} 

/* new games */
#new-games {
  background-color: #1f1f1f;
}

/* playstation plus */
#ps-plus {
  background-color: #bebcbb;
}

#ps-plus button, 
#ps-now button {
  background-color: #d9dadc;
}

/* playstation now */
#ps-now {
  background-color: #161c3b;
}

/* social */
#social img {
  max-width: 150px;
}

#social .row {
  max-width: 100%;
}

/* footer */
#footer {
  background-color: #00439c;
}

#footer ul>li {
  list-style-type: none;
  padding-top: 0.8rem;
}

#footer a {
  text-decoration: none;
  color: rgb(248,249,250);
  margin: 1.5rem 0
}

.left-footer img {
  height: 30%;
}

.footer-footer>img {
  width: 20%;
}

#footer .icon-global img {
  width: 3%;
}

